html {
  scroll-behavior: smooth;
}

.main-container {
  max-width: 1080px;
}

.sec-container {
  max-width: 1400px;
}
@media (max-width: 500px) {
  .heading {
    font-size: 70px;
  }
}
.mt-sec {
  margin-top: 70px;
}

#logo {
  width: 55px;
}
.heading {
  font-size: 110px;
}
@media (max-width: 800px) {
  .heading {
    font-size: 90px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 70px;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 60px;
  }
}

@media (max-width: 393px) {
  .heading {
    font-size: 50px;
  }
}

@media (max-width: 300px) {
  .heading {
    font-size: 40px;
  }
}

#arrow {
  height: 30px;
}

.margin-btn {
  margin-top: 10px;
  margin-left: 55px;
}

#bg {
  background-color: rgb(201, 194, 194);
}

.max-w-text {
  max-width: 400px;
}
.max-w-img {
  max-width: 270px;
}

#hinter {
  overflow: hidden;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: absolute;
  right: 50%;
  width: 100%;
  opacity: 0.1;
}

/* loginPage */

#body {
  height: 100vh;
  background: hsla(120, 6%, 90%, 1);

  background: linear-gradient(
    90deg,
    hsla(120, 6%, 90%, 1) 0%,
    hsla(228, 75%, 16%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(120, 6%, 90%, 1) 0%,
    hsla(228, 75%, 16%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(120, 6%, 90%, 1) 0%,
    hsla(228, 75%, 16%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E4E7E4", endColorstr="#0A1647", GradientType=1 );
  background-size: contain;
}

/* slide show */

.tech-slideshow {
  height: 200px;
  max-width: 98%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 8000px;
  background: url("assets/slide2.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 90s linear infinite;
}

@keyframes moveSlideshow {
  50% {
    transform: translateX(-66.6666%);
    background-position-x: -1000000000000;
  }
}

.login-field {
  background: #eae7e7;
  max-width: 500px;
  padding: 40px 50px;
  border-radius: 20px;
  border: black solid 4px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.light-shadow {
  box-shadow: 10px 10px 14px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -9px rgba(0, 0, 0, 0.75);
}

#red-btn {
  color: black;

  text-align: center;
  padding: 10px 15px;
  max-width: 150px;
  border-radius: 10px;
  background-color: #dc3545;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(220, 53, 69, 0.75);
  -moz-box-shadow: 0px 0px 22px 0px rgba(220, 53, 69, 0.75);
  box-shadow: 0px 0px 22px 0px rgba(220, 53, 69, 0.75);
}

.kontakt-bg {
  color: white;
  background-color: darkgrey;
}

.kontakt-heading {
  font-size: 30px;
  text-align: center;
}
.card-style {
  border-radius: 15px;
  padding: 15px 30px;
}

.grid-card {
  background: #eea0a6ad;
}

.erfahre-mehr {
  margin-top: 8px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  background-color: #dc3546bb;
  font-weight: 600;
  margin-left: -5px;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.maxw {
  margin: 10px 0;
}
.mapouter {
  width: 100%;
}

#top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 100%;
  padding: 5px;
  background-color: #e58891;
}

.maxwi {
  max-width: 500px;
}

#form {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #e4dadb;
}
